<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.cymall.dao.EnCompanyDao">
	<resultMap id="enCompanyMap" type="xin.cymall.entity.EnCompany">
		<id column="id" property="id"/>
		<result column="company_name" property="companyName"/>
		<result column="company_shortname" property="companyShortname"/>
		<result column="company_ename" property="companyEname"/>
		<result column="pinyin_index" property="pinyinIndex"/>
		<result column="company_areapath" property="companyAreapath"/>
		<result column="company_address" property="companyAddress"/>
		<result column="company_fr" property="companyFr"/>
		<result column="company_fr_phone" property="companyFrPhone"/>
		<result column="company_contact" property="companyContact"/>
		<result column="contact_phone" property="contactPhone"/>
		<result column="company_key" property="companyKey"/>
		<result column="company_logo" property="companyLogo"/>
		<result column="company_type" property="companyType"/>
		<result column="company_capacity" property="companyCapacity"/>
		<result column="company_lo" property="companyLo"/>
		<result column="company_la" property="companyLa"/>
		<result column="pay_type" property="payType"/>
		<result column="key_type" property="keyType"/>
		<result column="key_sttime" property="keySttime"/>
		<result column="key_edtime" property="keyEdtime"/>
		<result column="create_time" property="createTime"/>
		<result column="create_user" property="createUser"/>
		<result column="update_time" property="updateTime"/>
		<result column="update_user" property="updateUser"/>
		<result column="del_flag" property="delFlag"/>
	</resultMap>

	<sql id="level_1">
		UNION
		SELECT
			mun.id AS id,
			CASE WHEN mun.parent_id = '0' THEN mun.company_id
  			ELSE mun.parent_id END AS pid,
			mun.monitor_unit_name AS `name`,
			'2' AS type,
			${checkDisable} AS chkDisabled,
			${clickUnit} AS click,
			'/statics/img/sunny-night.png' AS icon
		FROM
			monitor_unit mun
		WHERE mun.del_flag = 0
	</sql>

	<sql id="level_2">
		UNION
		SELECT
			mun.id AS id,
			CASE WHEN mun.parent_id = '0' THEN mun.company_id
  			ELSE mun.parent_id END AS pid,
			mun.monitor_unit_name AS `name`,
			'2' AS type,
			${checkDisable} AS chkDisabled,
			${clickUnit} AS click,
			'/statics/img/sunny-night.png' AS icon
		FROM
			monitor_unit mun
			WHERE mun.del_flag = 0
		UNION
		SELECT
			ec.id AS id,
			ec.monitor_unit_id AS pid,
			ec.concentrator_name AS `name`,
			'3' AS type,
			${checkDisable} AS chkDisabled,
			${clickConc} AS click,
			'/statics/img/cloudy-sunny-night.png' AS icon
		FROM
			en_concentrator ec
			WHERE ec.del_flag = 0
	</sql>

	<sql id="level_3">
		UNION
		SELECT
			mun.id AS id,
			CASE WHEN mun.parent_id = '0' THEN mun.company_id
  			ELSE mun.parent_id END AS pid,
			mun.monitor_unit_name AS `name`,
			'2' AS type,
			${checkDisable} AS chkDisabled,
			${clickUnit} AS click,
			'/statics/img/sunny-night.png' AS icon
		FROM
			monitor_unit mun
		WHERE mun.del_flag = 0
		UNION
		SELECT
			ec.id AS id,
			ec.monitor_unit_id AS pid,
			ec.concentrator_name AS `name`,
			'3' AS type,
			${checkDisable} AS chkDisabled,
			${clickConc} AS click,
			'/statics/img/cloudy-sunny-night.png' AS icon
		FROM
			en_concentrator ec
		WHERE ec.del_flag = 0
		UNION
		SELECT
			ecp.id AS id,
			ecp.concentrator_id AS pid,
			ecp.collection_point_name AS `name`,
			'4' AS type,
			${checkDisable} AS chkDisabled,
			${clickPoint} AS click,
			'/statics/img/blizard.png' AS icon
		FROM
			en_collection_point ecp
		WHERE ecp.del_flag = 0
	</sql>

	<select id="queryObject" resultType="xin.cymall.entity.EnCompany">
		select * from en_company where id = #{value}
	</select>
	
	<select id="queryList" resultType="xin.cymall.entity.EnCompany">
		select * from en_company
		<where>
			del_flag = 0
			<if test="createUser != null">
				and `create_user` = #{createUser}
			</if>
			<if test="companyName != null and companyName.trim() != ''">
				and `company_name` like concat('%',#{companyName},'%')
			</if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by create_time desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="queryTotal" resultType="int">
		select count(*) from en_company
		<where>
			del_flag = 0
			<if test="createUser != null">
				and `create_user` = #{createUser}
			</if>
			<if test="companyName != null and companyName.trim() != ''">
				and `company_name` like concat('%',#{companyName},'%')
			</if>
		</where>
	</select>
	<select id="queryByName" parameterType="xin.cymall.entity.EnCompany" resultType="xin.cymall.entity.EnCompany">
		select * from en_company
		<where>
			del_flag = 0
			<if test="enCompany.companyName != null and enCompany.companyName.trim() != ''">and company_name = #{enCompany.companyName}</if>
			<if test="enCompany.id != null">and id &lt;&gt; #{enCompany.id}</if>
		</where>
	</select>

	<select id="queryCodeAndValue" resultType="xin.cymall.common.utils.EnumBean">
		select ec.id as code, ec.company_name as value from en_company ec where ec.del_flag = 0
	</select>

    <select id="queryJgTreeData" resultType="xin.cymall.common.utils.ZtreeBean">
		SELECT
			cm.id AS id,
			'0' AS pId,
			cm.company_name AS `name`,
			'1' AS type,
			${checkDisable} AS chkDisabled,
			${clickCom} as click,
			'/statics/img/sunny.png' AS icon
		FROM
			en_company cm
		WHERE cm.del_flag = 0
		<if test="level != null and level == 1">
			<include refid="level_1"/>
		</if>
		<if test="level != null and level == 2">
			<include refid="level_2"/>
		</if>
		<if test="level != null and level == 3">
			<include refid="level_3"/>
		</if>
	</select>

    <insert id="save" parameterType="xin.cymall.entity.EnCompany" useGeneratedKeys="true" keyProperty="id">
		insert into en_company
		(
			id,
			company_name,
			company_shortname,
			company_ename,
			pinyin_index,
			company_areapath,
			company_address,
			company_fr,
			company_fr_phone,
			company_contact,
			contact_phone,
			company_key,
			company_logo,
			company_type,
			company_capacity,
			company_lo,
			company_la,
			pay_type,
			create_time,
			create_user,
			update_time,
			update_user,
			del_flag
		)
		values
		(
			#{id},
			#{companyName},
			#{companyShortname},
			#{companyEname},
			#{pinyinIndex},
			#{companyAreapath},
			#{companyAddress},
			#{companyFr},
			#{companyFrPhone},
			#{companyContact},
			#{contactPhone},
			#{companyKey},
			#{companyLogo},
			#{companyType},
			#{companyCapacity},
			#{companyLo},
			#{companyLa},
			#{payType},
			#{createTime},
			#{createUser},
			#{updateTime},
			#{updateUser},
			0
		)
	</insert>
	 
	<update id="update" parameterType="xin.cymall.entity.EnCompany">
		update en_company
		<set> 
			<if test="companyName != null and companyName.trim() != ''">company_name = #{companyName}, </if>
			<if test="companyShortname != null and companyShortname.trim() != ''">company_shortname = #{companyShortname}, </if>
			<if test="companyEname != null and companyEname.trim() != ''">company_ename = #{companyEname}, </if>
			<if test="pinyinIndex != null and pinyinIndex.trim() != ''">pinyin_index = #{pinyinIndex}, </if>
			<if test="companyAreapath != null and companyAreapath.trim() != ''">company_areapath = #{companyAreapath}, </if>
			<if test="companyAddress != null and companyAddress.trim() != ''">company_address = #{companyAddress}, </if>
			<if test="companyFr != null and companyFr.trim() != ''">company_fr = #{companyFr}, </if>
			<if test="companyFrPhone != null and companyFrPhone.trim() != ''">company_fr_phone = #{companyFrPhone}, </if>
			<if test="companyContact != null and companyContact.trim() != ''">company_contact = #{companyContact}, </if>
			<if test="contactPhone != null and contactPhone.trim() != ''">contact_phone = #{contactPhone}, </if>
			<if test="companyKey != null and companyKey.trim() != ''">company_key = #{companyKey}, </if>
			<if test="companyLogo != null and companyLogo.trim() != ''">company_logo = #{companyLogo}, </if>
			<if test="companyType != null">company_type = #{companyType}, </if>
			<if test="companyCapacity != null">company_capacity = #{companyCapacity}, </if>
			<if test="companyLo != null and companyLo.trim() != ''">company_lo = #{companyLo}, </if>
			<if test="companyLa != null and companyLa.trim() != ''">company_la = #{companyLa}, </if>
			<if test="payType != null">pay_type = #{payType}, </if>
			<if test="updateTime != null">update_time = #{updateTime}, </if>
			<if test="updateUser != null">update_user = #{updateUser}</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateCompanyKey" parameterType="xin.cymall.entity.EnCompany">
		update en_company
		<set>
			<if test="enCompany.companyKey != null and enCompany.companyKey.trim() != ''">company_key = #{enCompany.companyKey}, </if>
			<if test="enCompany.keyType != null">key_type = #{enCompany.keyType}, </if>
			<if test="enCompany.keySttime != null">key_sttime = #{enCompany.keySttime}, </if>
			<if test="enCompany.keyEdtime != null">key_edtime = #{enCompany.keyEdtime}, </if>
			<if test="enCompany.updateTime != null">update_time = #{enCompany.updateTime}, </if>
			<if test="enCompany.updateUser != null">update_user = #{enCompany.updateUser}</if>
		</set>
		where id = #{enCompany.id}
	</update>

	<delete id="deleteBatch">
		update en_company set del_flag = 1 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>