<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.cymall.dao.EnCompanyDao">
	<resultMap id="enCompanyMap" type="xin.cymall.entity.EnCompany">
		<id column="id" property="id"/>
		<result column="company_name" property="companyName"/>
		<result column="company_shortname" property="companyShortname"/>
		<result column="company_ename" property="companyEname"/>
		<result column="pinyin_index" property="pinyinIndex"/>
		<result column="company_address" property="companyAddress"/>
		<result column="company_fr" property="companyFr"/>
		<result column="company_contact" property="companyContact"/>
		<result column="contact_phone" property="contactPhone"/>
		<result column="company_key" property="companyKey"/>
		<result column="company_logo" property="companyLogo"/>
		<result column="key_type" property="keyType"/>
		<result column="key_sttime" property="keySttime"/>
		<result column="key_edtime" property="keyEdtime"/>
		<result column="create_time" property="createTime"/>
		<result column="create_user" property="createUser"/>
		<result column="update_time" property="updateTime"/>
		<result column="update_user" property="updateUser"/>
		<result column="del_flag" property="delFlag"/>
	</resultMap>

	<select id="queryObject" resultType="xin.cymall.entity.EnCompany">
		select * from en_company where id = #{value}
	</select>
	
	<select id="queryList" resultType="xin.cymall.entity.EnCompany">
		select * from en_company
		<where>
			<if test="createUser != null">
				and `create_user` = #{createUser}
			</if>
			<if test="companyName != null and companyName.trim() != ''">
				and `company_name` like concat('%',#{companyName},'%')
			</if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by create_time desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="queryTotal" resultType="int">
		select count(*) from en_company
		<where>
			<if test="createUser != null">
				and `create_user` = #{createUser}
			</if>
			<if test="companyName != null and companyName.trim() != ''">
				and `company_name` like concat('%',#{companyName},'%')
			</if>
		</where>
	</select>

	<insert id="save" parameterType="xin.cymall.entity.EnCompany" useGeneratedKeys="true" keyProperty="id">
		insert into en_company
		(
			company_name,
			company_shortname,
			company_ename,
			pinyin_index,
			company_address,
			company_fr,
			company_contact,
			contact_phone,
			company_key,
			company_logo,
			key_type,
			key_sttime,
			key_edtime,
			create_time,
			create_user,
			update_time,
			update_user,
			del_flag
		)
		values
		(
			#{companyName},
			#{companyShortname},
			#{companyEname},
			#{pinyinIndex},
			#{companyAddress},
			#{companyFr},
			#{companyContact},
			#{contactPhone},
			#{companyKey},
			#{companyLogo},
			#{keyType},
			#{keySttime},
			#{keyEdtime},
			#{createTime},
			#{createUser},
			#{updateTime},
			#{updateUser},
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="xin.cymall.entity.EnCompany">
		update en_company
		<set> 
			<if test="companyName != null and companyName.trim() != ''">company_name = #{companyName}, </if>
			<if test="companyShortname != null and companyShortname.trim() != ''">company_shortname = #{companyShortname}, </if>
			<if test="companyEname != null and companyEname.trim() != ''">company_ename = #{companyEname}, </if>
			<if test="companyAddress != null and companyAddress.trim() != ''">company_address = #{companyAddress}, </if>
			<if test="companyFr != null and companyFr.trim() != ''">company_fr = #{companyFr}, </if>
			<if test="companyContact != null and companyContact.trim() != ''">company_contact = #{companyContact}, </if>
			<if test="contactPhone != null and contactPhone.trim() != ''">contact_phone = #{contactPhone}, </if>
			<if test="companyKey != null and companyKey.trim() != ''">company_key = #{companyKey}, </if>
			<if test="companyLogo != null and companyLogo.trim() != ''">company_logo = #{companyLogo}, </if>
			<if test="updateTime != null">update_time = #{updateTime}, </if>
			<if test="updateUser != null">update_user = #{updateUser}</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateCompanyKey" parameterType="xin.cymall.entity.EnCompany">
		update en_company
		<set>
			<if test="companyKey != null and companyKey.trim() != ''">company_key = #{companyKey}, </if>
			<if test="keyType != null and keyType.trim() != ''">key_type = #{keyType}, </if>
			<if test="keySttime != null and keySttime.trim() != ''">key_sttime = #{keySttime}, </if>
			<if test="keyEdtime != null and keyEdtime.trim() != ''">key_edtime = #{keyEdtime}, </if>
			<if test="updateTime != null">update_time = #{updateTime}, </if>
			<if test="updateUser != null">update_user = #{updateUser}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteBatch">
		delete from en_company where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>