<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.cymall.dao.EnPoinstandardsetDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="xin.cymall.entity.EnPoinstandardset" id="enPoinstandardsetMap">
        <result property="id" column="id"/>
        <result property="collectionPointId" column="collection_point_id"/>
        <result property="instructionsId" column="instructions_id"/>
        <result property="instructionName" column="instruction_name"/>
        <result property="standardValueMin" column="standard_value_min"/>
        <result property="standardValueMax" column="standard_value_max"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

	<select id="queryObject" resultType="xin.cymall.entity.EnPoinstandardset">
		select * from en_point_standardset where id = #{value}
	</select>

	<select id="queryList" resultType="xin.cymall.entity.EnPoinstandardset">
		select * from en_point_standardset t
		<include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from en_point_standardset t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="id != null and id != ''"> and t.id = #{id} </if>
            <if test="collectionPointId != null and collectionPointId != ''"> and t.collection_point_id = #{collectionPointId} </if>
            <if test="instructionsId != null and instructionsId != ''"> and t.instructions_id = #{instructionsId} </if>
            <if test="instructionName != null and instructionName != ''"> and t.instruction_name = #{instructionName} </if>
            <if test="standardValueMin != null and standardValueMin != ''"> and t.standard_value_min = #{standardValueMin} </if>
            <if test="standardValueMax != null and standardValueMax != ''"> and t.standard_value_max = #{standardValueMax} </if>
            <if test="createUser != null and createUser != ''"> and t.create_user = #{createUser} </if>
            <if test="createTime != null and createTime != ''"> and t.create_time = #{createTime} </if>
            <if test="updateUser != null and updateUser != ''"> and t.update_user = #{updateUser} </if>
            <if test="updateTime != null and updateTime != ''"> and t.update_time = #{updateTime} </if>
            <if test="delFlag != null and delFlag != ''"> and t.del_flag = #{delFlag} </if>
        </where>
    </sql>

    <!--根据采集点ID 查询-->
    <select id="queryByPointId" resultMap="enPoinstandardsetMap">
        SELECT * FROM en_point_standardset WHERE collection_point_id = #{pointId} AND del_flag = 0
    </select>

	<insert id="save" parameterType="xin.cymall.entity.EnPoinstandardset">
		insert into en_point_standardset
		(
			`id`, 
			`collection_point_id`, 
			`instructions_id`, 
			`instruction_name`, 
			`standard_value_min`, 
			`standard_value_max`, 
			`create_user`, 
			`create_time`, 
			`update_user`, 
			`update_time`, 
			`del_flag`
		)
		values
		(
			#{id}, 
			#{collectionPointId}, 
			#{instructionsId}, 
			#{instructionName}, 
			#{standardValueMin}, 
			#{standardValueMax}, 
			#{createUser}, 
			#{createTime}, 
			#{updateUser}, 
			#{updateTime}, 
			0
		)
	</insert>
	 
	<update id="update" parameterType="xin.cymall.entity.EnPoinstandardset">
		update en_point_standardset 
		<set>
			<if test="collectionPointId != null">`collection_point_id` = #{collectionPointId}, </if>
			<if test="instructionsId != null">`instructions_id` = #{instructionsId}, </if>
			<if test="instructionName != null">`instruction_name` = #{instructionName}, </if>
			<if test="standardValueMin != null">`standard_value_min` = #{standardValueMin}, </if>
			<if test="standardValueMax != null">`standard_value_max` = #{standardValueMax}, </if>
			<if test="createUser != null">`create_user` = #{createUser}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateUser != null">`update_user` = #{updateUser}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		UPDATE en_point_standardset SET del_flag = 1 where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		UPDATE en_point_standardset SET del_flag = 1 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>