<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.cymall.dao.SysLogDao">

	<select id="queryObject" resultType="xin.cymall.entity.SysLog">
		select * from sys_log where id = #{value}
	</select>

	<select id="queryList" resultType="xin.cymall.entity.SysLog">
		select ss.* from (
			select ts.*,rownum as rn from (
			select s.* from sys_log s
			where 1=1
				<if test="username != null and username.trim() != ''">
					and s.username like concat(concat('%',#{username}),'%')
				</if>
				<if test="startDate != null and startDate.trim() != ''">
					and s.create_date &gt;= TO_DATE(#{startDate}, 'YYYY-MM-DD')
				</if>
				<if test="endDate != null and endDate.trim() != ''">
					and s.create_date &lt;= TO_DATE(#{endDate}, 'YYYY-MM-DD')
				</if>
			order by s.id desc 
		) ts ) ss
		<where>
			<if test="offset != null and limit != null">
				and ss.rn between #{offset} and #{offend}
			</if>
		</where>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from sys_log  where 1=1
		<if test="username != null and username.trim() != ''">
			and username like concat(concat('%',#{username}),'%')
		</if>
		<if test="startDate != null and startDate.trim() != ''">
			and create_date &gt;= TO_DATE(#{startDate}, 'YYYY-MM-DD')
		</if>
		<if test="endDate != null and endDate.trim() != ''">
			and create_date &lt;= TO_DATE(#{endDate}, 'YYYY-MM-DD')
		</if>
	</select>
	 
	<insert id="save" parameterType="xin.cymall.entity.SysLog" keyProperty="id">
		<selectKey resultType="Long" order="BEFORE" keyProperty="id">  
            SELECT seq_sys_log.NEXTVAL as id from DUAL
        </selectKey>
		insert into sys_log
		(
			id,
			username, 
			operation, 
			method,
			ip,
			params,
			create_date
		)
		values
		(
			#{id},
			#{username}, 
			#{operation}, 
			#{method}, 
			#{ip},
			#{params},
			#{createDate}
		)
	</insert>
	 
	<update id="update" parameterType="xin.cymall.entity.SysLog">
		update sys_log 
		<set>
			<if test="username != null">username = #{username}, </if>
			<if test="operation != null">operation = #{operation}, </if>
			<if test="method != null">method = #{method}, </if>
			<if test="params != null">params = #{params}, </if>
			<if test="ip != null">ip = #{ip} </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from sys_log where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from sys_log where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>