<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.cymall.dao.SysRoleDao">

	<select id="queryObject" resultType="xin.cymall.entity.SysRole">
		select * from sys_role where role_id = #{value}
	</select>
	
	<select id="queryList" resultType="xin.cymall.entity.SysRole">
		select srr.* from (
		select ts.*,rownum as rn from (
		select sr.* from sys_role sr
		<where>
			<if test="roleName != null and roleName.trim() != ''">
				and sr.role_name like concat(concat('%',#{roleName}),'%') 
			</if>
			<if test="createUserId != null">
				and sr.create_user_id = #{createUserId} 
			</if>
			<if test="remark != null">
				and sr.remark = #{remark}
			</if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by sr.role_id asc
			</otherwise>
		</choose>
		) ts ) srr
		<where>
			<if test="offset != null and limit != null">
			 and srr.rn between #{offset} and #{limit}
			</if>
		</where>
	</select>
	<select id="findAll"   resultType="xin.cymall.entity.SysRole">
		select * from sys_role
		<where>
			<if test="createUserId != 'null'">
				and create_user_id = #{createUserId}
			</if>
		</where>
		order by role_id asc
	</select>

	<select id="queryTotal" resultType="int">
		select count(*) from sys_role 
		<where>

			<if test="roleName != null and roleName.trim() != ''">
				and role_name like concat(concat('%',#{roleName}),'%') 
			</if>
			<if test="createUserId != null">
				and create_user_id = #{createUserId} 
			</if>
			<if test="remark != null">
				and remark = #{remark}
			</if>
		</where>
	</select>
	
	<insert id="save" parameterType="xin.cymall.entity.SysRole" keyProperty="roleId">
		<selectKey resultType="Long" order="BEFORE" keyProperty="roleId">  
            SELECT seq_sys_role.NEXTVAL as roleId from DUAL
        </selectKey>
		insert into sys_role
		(
			role_id, 
			role_name, 
			remark,
			create_user_id,
			create_time,
			org_id
		)
		values
		(
			#{roleId,jdbcType=INTEGER}, 
			#{roleName,jdbcType=VARCHAR}, 
			#{remark,jdbcType=VARCHAR},
			#{createUserId,jdbcType=VARCHAR},
			#{createTime,jdbcType=DATE},
			#{orgId,jdbcType=CHAR}
		)
	</insert>
	 
	<update id="update" parameterType="xin.cymall.entity.SysRole">
		update sys_role 
		<set> 
			<if test="roleName != null">role_name = #{roleName}, </if>
			<if test="remark != null">remark = #{remark},</if>
			<if test="orgId != null">org_id = #{orgId}</if>
		</set>
		where role_id = #{roleId}
	</update>
	
	<delete id="deleteBatch">
		delete from sys_role where role_id in 
		<foreach item="roleId" collection="array" open="(" separator="," close=")">
			#{roleId}
		</foreach>
	</delete>

	<delete id="deleteRoleMenu">
		delete from sys_role_menu where role_id in
		<foreach item="roleId" collection="array" open="(" separator="," close=")">
			#{roleId}
		</foreach>

	</delete>


	<delete id="deleteUserRole">
		delete from sys_user_role where role_id in
		<foreach item="roleId" collection="array" open="(" separator="," close=")">
			#{roleId}
		</foreach>
	</delete>

	<!-- 查询用户创建的角色ID列表 -->
	<select id="queryRoleIdList" resultType="long">
		select role_id from sys_role where create_user_id = #{createUserId} 
	</select> 
</mapper>